{% extends 'layouts/base.html' %}
{% block title %}To-Do Application{% endblock %}
{% block content %}
  <ul>
    {% for each in todoList %}
      {% if each.completed == True %}
        <li><p>\u2022</p>{{ each.time }} | {{ each.text }}</li>
      {% endif %}
      {% if each.completed == False %}
        <li>
          <form method="post">
            <input type="hidden" name="text" value={{each.id}}>
            <input type="submit">
          </form>
          {{ each.time }} | {{ each.text }}
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <form method="post">
    <input type="text" name="text">
    <input type="submit" value="Add Item">
  </form>
{% endblock %}
