{% extends 'layouts/base.html' %}
{% block title %}To-Do Application{% endblock %}
{% block content %}
  <ul>
    <li><a href="/update"><input type="button">03-27 | do laundry</a></li>
    {% if completed == True %}
      <li><p>\u2022</p>{{ newItem.time }} | {{ newItem.text }}</li>
    {% endif %}
    {% if completed == False %}
      <li><a href="/update"><input type="button">{{ newItem.time }} | {{ newItem.text }}</a></li>
    {% endif %}
  </ul>

  <form method="post">
    <input type="text" name="text">
    <input type="submit" value="Add Item">
  </form>
{% endblock %}
