* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  background-color: #eee;
  color: #333;
}

footer,
header {
  background-color: #ccc;
  color: #111;
}

.title {
  border-bottom: 1px solid #111;
  display: inline-block;
}
